.nav-backgroundColor{
    background: #04000a;
}
.bg-cover{
    background-size: cover !important;
    background-position: center center !important;
}
// 客製化輪播按鈕
.custom-Carousel-li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50px !important;
    margin-right: 8px !important;
  }
  /* 半透明背景 */
.alpha-bg{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
  }

.carousel-caption{
    bottom: 180px !important;
    border: white 2px solid;
    width: 40% !important;
    left: 30% !important;
}
// 響應式標題處理
@media (max-width: 395px) { 
    .font-sd-3{
        font-size: 30px !important;
    }
}
.Shadow{
    box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.3);
}