.breadcrumb{
    background-color: transparent;
}
.text-theme{
    color:#ffa114;
}
.card-header{
    background-color: rgba($color: #ffa114, $alpha: 0.8) !important;
}
.bg-theme{
    background-color:#ffa114;
}